<%= content_for :head do %>
  <%= javascript_tag do %>
    Spree.ready(function () {
      $('form').validate();
    });
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::ProductCustomizationType.model_name.human) %> <span class="green">"<%= @product_customization_type.name %>"</span>
<% end %>

<% if @product_customization_type.calculator.type == "Spree::Calculator::NoCharge" %>
  <% content_for :page_actions do %>
    <span id="customizable_product_options_value" data-hook>
      <%= button_link_to Spree.t(:add_option_value), "javascript:;", icon: 'add', :'data-target' => "tbody#customizable_product_options", class: 'btn-success spree_add_fields'  %>
    </span>
  <% end %>
<% end %>

<%= render 'spree/admin/shared/error_messages', target: @product_customization_type %>

<%= form_for(@product_customization_type, url: admin_product_customization_type_url(@product_customization_type), html: { method: :put }) do |f| %>
  <fieldset>
    <%= render partial: "form", locals: { f: f } %>

    <h3><%= Spree.t("customizable_product_options") %></h3>
    <table class="table index" id='customizable_product_options' data-hook>
      <thead>
        <tr data-hook="customizable_product_options_header">
          <th><%= Spree.t("name") %><span class="required">*</span></th>
          <th><%= Spree.t("presentation") %><span class="required">*</span></th>
          <th><%= Spree.t("description") %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="customizable_product_options">
        <% if @product_customization_type.calculator.type == "Spree::Calculator::NoCharge" %>
          <%= f.fields_for :customizable_product_options do |customizable_form| %>
            <%= render partial: "customizable_product_option_fields", locals: { f: customizable_form, editable: true } %>
          <% end %>
        <% else %>
          <%= f.fields_for :customizable_product_options do |customizable_form| %>
            <%= render partial: "customizable_product_option_fields", locals: { f: customizable_form, editable: false } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
