<% if !!@product.ad_hoc_option_types && @product.ad_hoc_option_types.present? %>
  <% lookup = ActionView::LookupContext.new(ActionController::Base.view_paths, {formats: [:html]}) %>

  <div id="ad_hoc_options">
    <div class='col-sm-12'>
      <h3 class="product-section-title"><%= Spree.t(:select_variant_options) %></h3>
      <% if @product.ad_hoc_variant_exclusions.present? %>
        <h6 id="not_all_available">
          <%= Spree.t(:not_all_combinations_available) %>
        </h6>
      <% end %>
    </div>
    <ul class="list-group list-unstyled">
      <% @product.ad_hoc_option_types.each do |ad_hoc_option_type| %>
        <%# ugly logic %>
        <% option_type = ad_hoc_option_type.option_type %>
        <% class_str = 'ad-hoc-option-select' %>
        <% class_str += ' required' if ad_hoc_option_type.is_required %>
        <% class_str += ' ad_hoc' if @product.ad_hoc_variant_exclusions.present? %>
        <%# render a custom partial based on the option type name? %>
        <% partial_name = "spree/products/ad_hoc_options/#{option_type.name.gsub(/(-)|(\s)/,"_").downcase}" %>

        <% if lookup.exists?(partial_name, nil, true) %>
          <div class='col-sm-<%= Spree.t(:variant_col_size) %>'>
          <%= render partial: partial_name, locals: {option_type: ad_hoc_option_type, class_str: class_str} %>
          </div>
        <% else %>
          <li>
            <% select_opts = { class: "#{class_str} form-control" } %>
            <% select_opts[:prompt] = 'None' if ad_hoc_option_type.option_values.size > 1 && ad_hoc_option_type.option_values.none? {|option_value| option_value.selected? }%>
            <% selected_option_value = ad_hoc_option_type.option_values.detect {|option_value| option_value.selected? } %>
            <div class="col-md-<%= Spree.t(:variant_col_size) %> form-group">
              <h5 class='presentation-for-ad-hoc-option-value'><%= option_type.presentation %>: </h5>
              <div class='form-for-ad-hoc-option-value'>
                <%= select_tag "ad_hoc_option_values[#{ad_hoc_option_type.id}]",options_for_select(ad_hoc_option_value_options(ad_hoc_option_type.option_values), selected_option_value.present? ? selected_option_value.id.to_s : nil), select_opts %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
