<div class='customizations'>
  <%# TODO: group multi-select options (e.g. toppings) %>
  <ul class='list-group list-unstyled'>
    <% item.ad_hoc_option_values.each do |ad_hoc_option_value| %>
      <li><b><%= ad_hoc_option_value.option_value.option_type.presentation %>:</b> <%= ad_hoc_option_value.option_value.presentation %></li>
    <% end %>
    <% item.product_customizations.each do |customization| %>
      <% next if customization.customized_product_options.all? {|customized_product_option| customized_product_option.empty? } %>
      <li><b><%= customization.product_customization_type.presentation %>: </b></li>
        <ul style="list-style: none;">
          <% customization.customized_product_options.each do |option| %>
            <% next if option.empty? %>
            <% partial = option.customizable_product_option.name %>
            <% lookup = ActionView::LookupContext.new(ActionController::Base.view_paths, {formats: [:html]}) %>
            <% if lookup.exists?("spree/orders/custom_fields/#{partial}", nil, true) %>
              <%= render partial: "spree/orders/custom_fields/#{partial}", locals: {option: option} %>
            <% else %>
              <% if option.customization_image? %>
                <li><%= link_to image_tag(option.customization_image.thumb.url), option.customization_image.url, target: '_blank' %></li>
              <% else %>
                <li class='customized_option'><b><%= option.customizable_product_option.presentation %>:</b> <%= option.value %></li>
              <% end %>
            <% end %>
          <% end %> <%# each option %>
        </ul>
    <% end %> <%# each customization %>
  </ul>
</div>
